.temperament-container{
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(225, 225, 225);
    padding: 50px 25px 10px 25px; 
    width: 70%;
}

header{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 40px;
}

.temperament-form-outer form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.temperament-page{
    font-family: 'Open Sans', sans-serif;
}

.temperament-title{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}

.temperament-explanation{
    padding-top: 10px;
    text-align: center;
}

label{
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

hr.solid{
  border-top: 1px solid rgb(82, 82, 82);
}

.label-group{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-basis: column;
}

.label-div{
  margin-left: 20px;
}
/* ==================Button Style Here====================*/

  .temperament-buttons-section{
    padding-top: 10px;
    text-align: center;
  }

.temperament-next-button{
  letter-spacing: 0px;
  font-weight: 700;
  border-color: #577049;
  border-style: solid;
  border-width: 1px;
  padding: 15px 25px 15px 25px;
  border-radius: 99px;
	font-size: 15px;
	color: #577049;
	background-color: white;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.temperament-prev-button{
  letter-spacing: 0px;
  font-weight: 700;
  border-color: #577049;
  border-style: solid;
  border-width: 1px;
  padding: 15px 25px 15px 25px;
  border-radius: 99px;
	font-size: 15px;
	color: #577049;
	background-color: white;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.temperament-next-button:hover{
    background-color: #577049;
	color: #ffffff;
}

.temperament-prev-button:hover{
  background-color: #577049;
	color: #ffffff;
}

input[type='radio'] {
  flex-shrink: 0;
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:3px solid #577049;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px rgb(227, 227, 227);
  
}
input[type='radio']:hover {
  box-shadow:0 0 5px 0px #577049;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:80%;
  height:80%;
  border-radius:50%; 
  margin: 10% auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
input[type='radio']:checked:before {
  background:#577049;
}

.form-step{
  display: none;
  opacity: 0;
  animation: slide 0.5s forwards;
}

.form-step.form-step-active{
  
  display: block;
  opacity: 1;
}


@keyframes slide {
  from{
    transform: scale(0,0);
    opacity: 0;
  }
  to{
    transform: scale(1, 1);
    opacity: 1;
  }
}
